{% extends "base.html" %}


{% block content %}
<h2>Here are your habits:</h2>
<div class="habit-list centerer">
    {% for habit in habits %}
    <div class="habit-pane">
        <div class="habit-area">
            <div class="habit-info">
                <a href="{% url 'habit_details' pk=habit.pk %}" class="habit-link"> 
                {% if habit.is_negative %}
                    {% if habit.number == 1 %}
                    <p>{{habit.verb|title}} less than {{habit.number|floatformat:"-2"}} {{habit.noun_singular}} per day.</p>
                    {% else %}
                    <p>{{habit.verb|title}} fewer than {{habit.number|floatformat:"-2"}} {{habit.noun}} per day.</p>
                    {% endif %}
                {% else %}
                    {% if habit.number == 1 %}
                    <p>{{habit.verb|title}} at least {{habit.number|floatformat:"-2"}} {{habit.noun_singular}} per day.</p>
                    {% else %}
                    <p>{{habit.verb|title}} at least {{habit.number|floatformat:"-2"}} {{habit.noun}} per day.</p>
                    {% endif %}
                {% endif %}</a>
                <div class="delete-button-div">
                    <a href="{% url 'habit_delete' pk=habit.pk %}" class="delete-button">X</a>
                </div>
            </div>
            <div class="record-panel">
            {% for record in habit.get_record_details %}
                {% if record.is_met %}
                <a href="{% url 'record_edit' pk=record.pk %}"  class="record-tiny border-small met">
                    <p class="emoji-small"> &#x1F600;</p>
                    <p class="small-date">{{record.date|date:"m/d"}}</p>
                </a>
                {% elif record.number == 0 or record.number != null %}
                <a href="{% url 'record_edit' pk=record.pk %}"  class="record-tiny border-small not-met">
                    <p class="emoji-small"> &#x1F622;</p>
                    <p class="small-date">{{record.date|date:"m/d"}}</p>
                </a>
                {% else %}
                <a href="{% url 'record_add' pk=habit.pk date=record.date %}"  class="record-tiny border-small not-set">
                    <p class="emoji-small"> &#x1F97A;</p>
                    <p class="small-date">{{record.date|date:"m/d"}}</p>
                </a>             
                {% endif %}  
            {% endfor %}
            </div>
        </div>    
    </div>
    {% endfor %}
    <div class="habit-form-div">
        <form action="{% url 'habit_add' %}" class="" method="POST">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.verb.errors }} {{form.number.errors}}
            <p>I would like to {{ form.verb }} {{form.more_less}} {{form.number}}</p>
            {{form.noun_singular.errors}}  {{form.noun.errors}}
            <p>{{form.noun_singular}} / {{form.noun}} per day.  <input class="habit-button" type="submit" value="Create Habit"></p>
        </form>
    </div>
</div>
<!-- <div class="habit-form-div">
    <form action="{% url 'habit_add' %}" class="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.verb.errors }} {{form.number.errors}}
        <p>I would like to {{ form.verb }} {{form.more_less}} {{form.number}}</p>
        {{form.noun_singular.errors}}  {{form.noun.errors}}
        <p>{{form.noun_singular}} / {{form.noun}} per day.  <input class="habit-button" type="submit" value="Create Habit"></p>
    </form>
</div> -->
{% endblock %}