{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block meta %} {% endblock meta %}
  <title>Habit Tracker</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header-box">
      <div class="header-left">
        <div><h1>Habit Tracker</h1></div>
      </div>
      <div class="header-right v-center">
        <div>
          {% if user.is_authenticated %}
          <span class="welcome welcome-el">Welcome, {{user.username}}!</span>
          <a class="welcome-el" href="{% url 'auth_logout' %}">Logout</a>
          {% else %}
          <a class="welcome-el" href="{% url 'auth_login' %}">Login</a>
          <a class="welcome-el" href="{% url 'registration_register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </header>
  <div class="body-div">
    <div class="main-block">
    {% block content %}
    {% endblock content %}
    </div>
  </div>
</body>